.banner_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.banner_first_container,
.banner_last_container {
  width: 50%;
  background: var(--background-primary);
  height: 100%;
}

.banner_first_container {
  padding: var(--padding-home);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner_last_container {
  background: var(--background-second);
}

.header_container {
  padding: var(--padding-header);
  width: 100%;
}

.banner_title {
  font-size: var(--font-title);
  font-weight: 400;
  max-width: 300px;
  color: var(--color-primary);
}

.banner_slogan_container {
  background: var(--background-second);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 160px;
  width: 300px;
  padding-left: 140px;
}

.banner_content_elements {
  height: 100%;
  position: relative;
  padding: 0 14%;
}

.banner_slogan_title {
  color: var(--color-primary);
  font-weight: 400;
  margin: 0 0 10px 0;
}

.banner_slogan_description {
  color: #b3bac2;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 0;
}

.banner_slogan_sub_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.banner_big_logo {
  position: absolute;
  z-index: 10;
  height: 40vh;
}